& {
  margin-top: 15px;
  .account-card {
    cursor: pointer;
    .panel.primary {
      border: 0;
      .panel-body {
        text-align: center;
        position: relative;
        height: 270px;
        border-radius: 5px;

        .summary {
          position: absolute;
          height: 90px;
          width:100%;
          left: 0;
          bottom: 0;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          padding: 20px 10px 10px 10px;
          .control {
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translate(-50%,0);
            width: 65px;
            height: 30px;
            border-radius: 0 0 300px 300px;

            .fa {
              line-height: 30px;
            }

          }
        }
      }
    }

    .reveal {
      width: 100%;
      position: relative;
      .panel-1 {
        z-index: 3;
      }
      .panel-2 {
        z-index: 2;
      }
      .panel-3 {
        z-index: 1;
      }
      .reveal-panel {
        position: absolute;
        width: 100%;
        top: 0px;
        .panel-body {
          text-align: center;
          height: 125px;
          border-radius: 0;
          .primary-text {
            font-weight: 600;
            margin: 5px 0 5px 0;
          }
          .action {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 40px;
            margin-top: 40px;
            margin-right: 0;
            width: 25px;
            border-radius: 5px 0 0 5px;
            line-height: 38px;
          }
        }
      }
    }
  }

  .is-expanded:not(.dashboard-account-card) {
    .panel.primary {
      .summary {
        transform: translateY(-85px);
        z-index: 2;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .primary-data {
        transform: translateY(-80px);
        perspective: 50px;
        .bgcss-icon {
          -ms-transform: translateY(-30px); // IE9 support
          transform: translate3d(0, -30px, 0) rotateY(-60deg);
        }
        @media (max-width: 180px) {
          margin-top: 40px;
        }
      }
    }
    .reveal {
      transform: translateY(-85px);
      a.primary-action {
        text-decoration: none;
        color: inherit;
      }
      .panel-2 {
        top: 126px;
      }
      .panel-3 {
        top: 252px;
      }
      .hover {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .primary-data, .primary-data .bgcss-icon, .summary, .reveal, .reveal-panel {
    transition: 0.2s;
  }

  .card-loader {
    height: 20px;
  }

  /** Common grid styles */
  .grid-item {
    float: left;
    width: 100%;
    min-height: 270px;
    .grid-item-content {
      overflow: hidden;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 1px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
    }
  }

  @media only screen and (min-width: 540px)  {
    .grid-item {
      width: 48%;
      width: calc(~"(100% - 3 * 15px) / 4");
    }
  }

  @media only screen and (min-width: 1200px)  {
    .grid-item {
      width: 32%;
      width: calc(~"(100% - 4 * 15px) / 5");
    }
  }

  .wrapper {
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 270px;
  }

  .hover-light-grey {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    background: #EEEEEE;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    .call-to-action {
      position: absolute;
      top:30%;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
      width:80%;
      text-align: center;
      .fa-chevron-right {
        color: #000000;
        font-size: 0.8em;
        -webkit-text-stroke: 3px #EEEEEE;
      }
    }
  }

  .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    background: #d9e1e2;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    .call-to-action {
      position: absolute;
      top:30%;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
      width:80%;
      text-align: center;
      .fa-chevron-right {
        color: #000000;
        font-size: 0.8em;
        -webkit-text-stroke: 3px #d9e1e2;
      }
    }
  }

  .center-single-line{
    margin-top: 1.5rem;
  }
  .dashboard-account-card {
    & {

      .transition {
        transition: transform .4s ease-in-out, opacity .4s;
      }

      .fast-transition {
        transition: transform .2s ease-in-out, opacity .2s;
      }

      .slow-transition {
        transition: transform .4s ease-in-out, opacity .4s;
      }

      .grid-item-content {
        height: 270px;
        transform: translateY(0);
        transform: translate3d(0,0,0);
        overflow: hidden;
      }

      .grid-item-content-container {
        transition: transform .4s ease-in-out, opacity .4s;
      }

      &.is-expanded {
        .grid-item-content-container {
          transform: translateY(-90px);
          transform: translate3d(0, -90px, 0);
        }
      }

      .table-cell {
        display: table-cell;
        vertical-align: middle;
      }

      .dashboard-account-card-overview {
        overflow: hidden;
        cursor: pointer;
        height: 180px;
        position: relative;

        transition: transform .4s ease-in-out, opacity .4s;

        .icon {
          transition: transform .4s ease-in-out, opacity .4s;
        }

        h2 {
          transition: transform .4s ease-in-out, opacity .4s;
        }

        .account-details {
          transition: transform .4s ease-in-out, opacity .4s;
          .account-number-label  {
            transition: transform .4s ease-in-out, opacity .4s;
          }
        }

        & > div {
          height: 100%;
        }

        .hover-title {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          transform: translateY(100%);
          transform: translate3d(0, 100%, 0);
          transition: transform .4s ease-in-out, opacity .4s;
        }

      }

      .hover-foreground {
        position: relative;
        z-index: 1;
      }

      .hover-background {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        transition: transform .4s ease-in-out, opacity .4s;
        opacity: 0;
      }

      &:hover.hoverable {
        &:not(.is-expanded) {
          .dashboard-account-card-overview {
            .icon {
              transform: translateY(-64px);
              transform: translate3d(0, -64px, 0)  rotateY(-60deg);
            }
            h2 {
              transform: translateY(-56px);
              transform: translate3d(0, -56px, 0);
              @media (min-width: @screen-xs-min) {
                transform: translateY(-56px);
                transform: translate3d(0, -56px, 0);
              }
            }
            .account-details {
              transform: translateY(-80px);
              transform: translate3d(0, -80px, 0);
              .account-number-label {
                opacity: 0;
              }
            }
            .hover-title {
              transform: translateY(0);
              transform: translate3d(0, 0, 0);
              z-index: 2;
            }
          }
          .dashboard-account-card-snapshot-container {
            .control .fa {
              transform: scale(1.1);
            }
          }
          .hover-background {
            &.hover-background-white {
              opacity: .2;
              background: #000;
            }
            &:not(.hover-background-white) {
              opacity: .35;
              background: #B9D9EB;
            }
          }
        }
      }

      &.is-expanded {
        .dashboard-account-card-overview {
          .icon {
            transform: translateY(-64px);
            transform: translate3d(0, -64px, 0)  rotateY(-60deg);
          }
          h2 {
            transform: translateY(54px);
            transform: translate3d(0, 54px, 0) scale(1.05);
            @media (min-width: @screen-xs-min) {
              transform: translateY(34px);
              transform: translate3d(0, 34px, 0) scale(1.05);
            }
          }
          .account-details {
            transform: translateY(44px);
            transform: translate3d(0, 44px, 0) scale(0.9);
            opacity: 0;
          }
          .hover-title {
            transform: translateY(100%);
            transform: translate3d(0, 100%, 0);
          }
        }
      }

      .dashboard-account-card-snapshot-container {
        position: relative;
        overflow: hidden;
        .control {
          position: absolute;
          top: -10px;
          left: 50%;
          transform: translate(-50%, 0);
          width: 64px;
          height: 30px;
          border-radius: 0 0 32px 32px;
          overflow: hidden;
          z-index: 1;

          .fa {
            transition: transform .2s ease-in-out, opacity .2s;
            line-height: 30px;
          }
        }
      }

      .dashboard-account-card-snapshot {
        cursor: pointer;
        min-height: 90px;
        position: relative;

        transition: transform .4s ease-in-out, opacity .4s;

        .sub-title {
          margin-top: -5px;
        }

        &:hover {
          .dashboard-account-card-pivot-action {
            opacity: 1;
          }
        }

      }

      .dashboard-account-card-pivot-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        opacity: 0.54;
        z-index: 1030;
      }

      .dashboard-account-card-pivot-in-focus {
        z-index: 1031;
      }

      .dashboard-account-card-pivot-action {
        padding: 0;
        border: none;
        background: none;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        text-decoration: none;

        .overlay {
          display: table;
          width: 100%;
          height: 100%;
        }
      }

      .dashboard-account-card-pivot-action-icon {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 25px;
        height: 40px;
        border-radius: 5px 0 0 5px;
        text-align: center;
        pointer-events: none;
        i {
          line-height: 40px;
        }
      }

      .dashboard-account-card-pivot {

        display: table;
        position: relative;
        width: 100%;
        height: 125px;

        .form-group {
          margin: 0;
        }

        &:hover {
          .dashboard-account-card-pivot-action {
            opacity: 1;
          }
        }

      }

      &.is-expanded {

        .grid-item-content {
          height: auto;
        }

      }

      .link-no-underline {
        text-decoration: none;
      }

      .narrow-top {
        margin-top: -0.5rem;
      }

    }
  }
}
